@import url('https://fonts.googleapis.com/css2?family=Playwrite+HR+Lijeva:wght@100..400&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.lightmode-style, body {
    #totvs {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.2rem;
    }
    header {
        min-height: 100%;
        background-color: #ffffff;
        color: black;
        padding: 20px;
        border-radius: 50px;
        font-family: "Ubuntu Mono", serif;
        font-size: 20pt;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        h1 {
            font-size: 3em;
            text-align: center;
        }

        #frase-de-impacto {
            text-align: center;
        }

        #paragrafo-descritivo {
            padding-top: 50px;
            font-size: 2em;
            text-align: justify;
            position: relative;
            width: 85%;
        }

        .switch-darkmode {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            box-shadow: -8px -4px 8px 0px #ffffff,
            8px 4px 12px 0px #d1d9e6,
            4px 4px 4px 0px #d1d9e6 inset,
            -4px -4px 4px 0px #ffffff inset;
            border-radius: 30px;
        }
        .switch-darkmode input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: lightblue;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 30px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-image: url("./images/icons/moon.png");
            background-size: cover;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: rgba(220, 167, 3, 0.66);
        }

        input:checked + .slider:before {
            transform: translate3d(100%, 0, 0);
            transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
        };

        .slider.round {
            border-radius: 34px;
        }
        .slider.round:before {
            border-radius: 50%;
        }
    }

    section {
        position: relative;
        margin: 20px;
        display: inline-block;
        background: none;
    }

    article {
        font-family: "Ubuntu Mono", serif;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        padding: 20px;
        margin: 50px auto;
        border-radius: 50px;
        transition: .4s;
    }

    article:hover {
        transform: scale(1.05);
    }

    aside {
        margin:50px;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        width: fit-content;
        border-radius: 50px;
        display: inline-block;
        transition: .4s;
    }

    aside:hover {
        transform: scale(1.05);
    }


    .experiencias {
        display: flex;
        article {
            width: 60%;
            box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        }
        aside {
            min-width: 40%;
            min-height: 400px;
            box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
            border-radius: 50px;
            iframe {
                min-width: 100%;
                min-height: 410px;
                border: none;
                border-radius: 50px;
            }
        }
    }

    iframe {
        width: fit-content;
        height: fit-content;
    }

    .certifications {
        font-family: "Ubuntu Mono", serif;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        min-width: 97%;
        padding: 20px;
        margin: 5px;
        border-radius: 50px;
        article:hover {
            transform: none;
        }
    }

    footer {
        font-family: "Ubuntu Mono", serif;
        margin-top: 20px;
        padding: 20px;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
        border-radius: 50px;
        width: 97%;
        display: flex;
        justify-content: space-between;
    }

    article.licensas:hover {
        transform: none;
    }

    img#full-body {
        padding: 10px;
    }
}



/*Darkmode*/
.darkmode-style {
    a:link {
        color: lightblue;
    }
    a:visited {
        color: rgba(220, 167, 3, 0.66);
    }

    section {
        article {
            a:link {
                color: lightblue;
            }
        }
    }

    body {
        background-color: #000000;
    }
    header {
        background-color: #404040;
        color: whitesmoke;
        padding: 20px;
        border-radius: 50px;
        font-family: "Ubuntu Mono", serif;
        font-size: 20pt;
        box-shadow:  20px 20px 60px #363636, -20px -20px 60px #4a4a4a;
        h1 {
            font-size: 3em;
            text-align: center;
        }

        #frase-de-impacto {
            text-align: center;
        }

        #paragrafo-descritivo {
            padding-top: 50px;
            font-size: 2em;
            text-align: justify;
            position: relative;
            width: 85%;
        }

        .switch-darkmode {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            box-shadow: -8px -4px 8px 0px #222222,
            8px 4px 12px 0px #1e1e1e,
            4px 4px 4px 0px #1e1e1e inset,
            -4px -4px 4px 0px #222222 inset;
            border-radius: 30px;
        }
        .switch-darkmode input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 30px;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-image: url("./images/icons/moon.png");
            background-size: cover;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: rgba(220, 167, 3, 0.66);
        }

        input:checked + .slider:before {
            transform: translate3d(100%, 0, 0);
            transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
        };

        .slider.round {
            border-radius: 34px;
        }
        .slider.round:before {
            border-radius: 50%;
        }
        section {
            position: absolute;
            margin-top: 700px;
            display: inline-block;
        }

        article {
            font-family: "Ubuntu Mono", serif;

            box-shadow:  20px 20px 60px #363636, -20px -20px 60px #4a4a4a;
            padding: 20px;
            margin: 50px auto;
            border-radius: 50px;
            transition: .4s;
        }

        article:hover {
            transform: scale(1.05);
            box-shadow:  20px 20px 60px #363636, -20px -20px 60px #4a4a4a;
        }

        aside {
            margin:50px auto;
            box-shadow:  20px 20px 60px #363636, -20px -20px 60px #4a4a4a;
            width: fit-content;
            border-radius: 50px;
            display: inline-block;
            transition: .4s;
        }

        aside:hover {
            transform: scale(1.05);
        }

        section {
            background-color: #404040;
            box-shadow:  20px 20px 60px #363636, -20px -20px 60px #4a4a4a;
            article {
                background-color: #404040;
            }
        }

        .experiencias {
            background: none;
            article {
                box-shadow:  20px 20px 60px #363636, -20px -20px 60px #4a4a4a;
            }
            aside {
                box-shadow:  20px 20px 60px #363636, -20px -20px 60px #4a4a4a;
            }
        }

        .certifications {
            font-family: "Ubuntu Mono", serif;
            box-shadow:  20px 20px 60px #363636, -20px -20px 60px #4a4a4a;
            min-width: 97%;
            padding: 20px;
            margin: 5px;
            border-radius: 50px;
            article:hover {
                transform: none;
            }
        }
    }
}